+b.top-menu
  +e.inner.container
    +e.logo
      +e(href="#").logo-link
        +e(src="img/logo.svg")
      h1.visually-hidden Гостиница для любимых кошек и котов
      +e(type="button").mobile-toggle
    +e.UL.list
      +e.LI.item
        +e(href="#").link Почему мы?
      +e.LI.item
        +e(href="#").link Номера
      +e.LI.item
        +e(href="#").link Отзывы
      +e.LI.item
        +e(href="#").link Как нас найти
